.container {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #07b8c9;
    width: 100%;
    flex-wrap: wrap;
    padding-top: 100px;
}